/config
/dist
/public
/database/weekly-timesheet-[0-9]{4}-[0-9]{2}.json
/resources/js
/node_modules
/project
/vendor
/var/*.php
/var/reels/
error_log
.env.*
*.old
.htaccess
composer.lock
composer.phar
composer-setup.php
main.js
notes.txt
package-lock.json
*.config.js