/config
/dist
/public
/database/weekly-timesheet-????-??.json
/resources/js
/node_modules
/project
/vendor
/var/*.html
/var/*.php
/resources/reels/
.env.*
.htaccess
*.old
composer.lock
composer.phar
composer-setup.php
error_log
main.js
notes.txt
package-lock.json
*.config.js