# HTID:22232770: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:22232770:

RewriteEngine On

# Check if the request is for an existing file in the resources/ directory
RewriteCond %{DOCUMENT_ROOT}/resources%{REQUEST_URI} -f
RewriteRule ^(.*)$ ./resources/$1 [L]

# Redirect all requests to index.php (assuming a typical front controller pattern)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    header set Access-Control-Allow-Methods: "GET, POST, OPTIONS"
    header set Access-Control-Allow-Headers: "Origin, X-Requested-With, Content-Type, Accept"
    Header set Access-Control-Allow-Credentials: "true"
</IfModule>

# Database passwords   getenv('DB_TEMPLATE_HOST')
SetEnv DB_TEMPLATE_HOST host
SetEnv DB_TEMPLATE_USER user
SetEnv DB_TEMPLATE_PASS pass
SetEnv DB_TEMPLATE_NAME name